img {
    max-width: 100%; 
    display:block; 
    height: auto;
    margin: 0 auto;
}

/*Tags*/
.tag-mark{
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #FFECD6;
    color: #d28445;
}

.tag-mark:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    color: #d28445;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\f02b';
}

a.tag-mark,
a.tag-mark:hover,
a.tag-mark:visited{
    text-decoration: none;
}

.tag-mark-small{
    font-size: 75%;
}

/*Categories*/
.category-mark{
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #FFECD6;
    color: #d28445;
}

.category-mark:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    color: #d28445;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\f115';
}

a.category-mark,
a.category-mark:hover,
a.category-mark:visited{
    text-decoration: none;
}

.category-mark-small{
    font-size: 75%;
}