---
layout: default
---

<!-- Title and Date -->
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}
  {% if page.tags.size > 0 %} | {% endif %}
  {% for tag in page.tags %}
    <a class="tag-mark tag-mark-small" href="/tags#{{ tag }}">{{ tag }}</a>
  {% endfor %}
  </span>
  {{ content }}
</div>

<div>
  <!-- Categories -->
  {% if page.categories.size > 0 %}
    Filed under:
  {% endif %}
  {% for category in page.categories %}
    <a class="category-mark category-mark-small" href="/categories#{{ category }}">{{ category }}</a>
  {% endfor %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<div style="width: 100%" class = "g-comments-css">
  {% include comments.html %}
</div>